{% extends 'base.html.twig' %}

{#{% block stylesheets %}#}
{#    {{ encore_entry_link_tags('comment') }}#}
{#{% endblock %}#}

{#{% block javascripts %}#}
{#    {{ encore_entry_script_tags('comment') }}#}
{#{% endblock %}#}

{% block title %}
    HomePage
{% endblock %}

{% block body %}
    <h1>HomePage</h1>
    <p><a href="{{ path('app_connectaction__invoke') }}">Connect</a></p>
    <p><a href="{{ path('app_article1action__invoke') }}">Article 1</a></p>
    <p><a href="{{ path('app_article2action__invoke') }}">Article 2</a></p>
{% endblock %}
